<div class="container">


  <!-- Form-->
  <div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-header">
        <h1>Account Login</h1>
      </div>
      <div class="form-content">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.valid,f.value)">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" ngModel #email="ngModel" required/>
            <div class="text-warning" *ngIf="email.errors && (email.dirty || email.touched || f.submitted)">
              <p *ngIf="email.errors.required">
                The Email is required
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" #password="ngModel" ngModel required/>
            <div class="text-warning" *ngIf="password.errors && (password.dirty || password.touched || f.submitted)">
              <p *ngIf="password.errors.required">
                The password is required
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="form-remember">
              <input type="checkbox" />Remember Me
            </label>
            <a class="form-recovery" href="#">Forgot Password?</a>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="!f.valid">Submit</button>
          </div>
          <div class="form-group">
            <a [routerLink]="['/register']">Register</a>
            <a [routerLink]="['/verify']" class="pull-right text-info">Verify Email</a>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>