:host{
    height: 50px;
}

.navbartop{
    min-height: 50px;
    background: #e57373;
}

.container{
    height: 50px;
}

.roundBtn{
    width: 50px;
    height: 50px;
    background: red;
    border-radius:50%;
}

.logoImg{
    max-height: 50px;
}