<div class="row">
  <div class="col-md-4">
    <cart-side [categories]='categories' (change)="onCategorySelected($event)"></cart-side>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <p class="h5 text-primary mb-3">{{selectedCategory | uppercase}}</p>
      </div>
      <div class="col-md-6">
        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" [class.disabled]="gender != 'Male'" (click)="setGender('Male',$event)" data-gender="Male">Male</button>
          <button type="button" class="btn btn-primary" [class.disabled]="gender != 'Female'" (click)="setGender('Female',$event)" data-gender="Female">Female</button>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="product-card m-2"  *ngFor="let product of productsInSelectedCategory | arrayFilter : gender">
        <shoe-card [product]="product" (change)="productAdded($event)"></shoe-card>
      </div>
    </div>
  </div>
</div>
